---
layout: default
---
<div class="section-title">
  Portfolio
</div>

{% for item in site.data.portfolio %}

  <div class="portfolio-grid">
    <div class="portfolio-image">
      <img src="assets/images/{{ item.app-image }}" alt="{{ item.app-image-alt }}">
    </div>
    <div class="portfolio-content">
      <div class="portfolio-app-title">
        <img src="assets/images/{{ item.app-icon }}" alt="{{ item.app-icon-alt }}">
        {{ item.name }}
      </div>
      {{ item.description }}
      <div class="portfolio-section-title">
        Role
      </div>
      {{ item.role }}
      <div class="portfolio-section-title">
        Technologies
      </div>
      {{ item.technologies }}
      <div class="badge-container">
        {% if item.google-play-url %}
          <a href="{{ item.google-play-url }}">
            <img src="assets/images/google-play-badge.png" alt="Google Play badge">
          </a>
        {% endif %}

        {% if item.github-url %}
          <a href="{{ item.github-url }}">
            <img src="assets/images/github-badge.png" alt="GitHub badge">
          </a>
        {% endif %}
      </div>
    </div>
  </div>

{% endfor %}