<ul class="nav-bar">
  {% for item in site.data.navigation %}
    <li class="nav-button">
      <a class="{% if page.url == item.link %}nav-button-active{% endif %}" href="{{ item.link }}">
        {{ item.name }}
      </a>
    </li>
  {% endfor %}
</ul>
<div class="header">
  <div class="header-image">
    <h1 class="header-title">Tyler Madonna</h1>
    <h3 class="header-subtitle">Software Developer</h3>
    <ul class="header-links">
      {% for item in site.data.links %}
        <li class="header-links-button">
          <a href="{{ item.link }}">
            <img src="assets/images/{{ item.icon }}" alt="{{ item.name }} icon">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="header-divider"></div>